{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Final results
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>ラウンド</th>
            <th>獲得点数</th>
        </tr>
        {% for p in player_in_all_rounds %}
            <tr>
                <td>{{ p.subsession.round_number }}</td>
                <td>{{ p.payoff }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>
      あなたの合計点数は{{ total_payoff }}点でした。
    </p>


{% endblock %}
